/* Prevent jquery mobile from using standard images */

.ui-icon-arrow-l, .ui-icon-alert, .ui-icon-checkbox-off, .ui-icon-dollar, .ui-icon-wrench, .ui-icon-plus, .ui-icon-minus,
.ui-icon-delete, .ui-icon-arrow-r, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check, .ui-icon-gear, .ui-icon-refresh, 
.ui-icon-forward, .ui-icon-back, .ui-icon-grid, .ui-icon-star, .ui-icon-info, .ui-icon-home, .ui-icon-search, 
.ui-icon-searchfield:after, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on, .ui-icon-email, .ui-icon-page,
.ui-icon-question, .ui-icon-foursquare, .ui-icon-euro, .ui-icon-pound, .ui-icon-apple, .ui-icon-chat, .ui-icon-trash,
.ui-icon-mappin, .ui-icon-direction, .ui-icon-heart, .ui-icon-play, .ui-icon-pause, .ui-icon-stop, .ui-icon-person,
.ui-icon-music, .ui-icon-wifi, .ui-icon-phone, .ui-icon-power, .ui-icon-lightning, .ui-icon-drink, .ui-icon-android{
    background-image: none !important;
}

.ui-icon-arrow-l:before{
    content: "\f053";
    margin-top: 2px;
}

.ui-icon-delete:before{
    content: "\f00d";
    margin-left: 3px;
    margin-top: -2px;
}

.ui-icon-arrow-r:before{
    content: "\f054";
    padding-left: 2px;
}

.ui-icon-arrow-d:before{
    content: "\f078";
}

.ui-icon-home:before{
    content: "\f015";

}

.header-logo{
    vertical-align: middle;
    padding-right: 0.3em;
    margin-top: -2px;
}

/* Custom styles for Save a child */
.ssc-navbar .ui-btn-text{
    font-size: 0.9em;
}

/* Customiz icons */
.ssc-navbar .ui-icon{
    background: none !important;
    margin-top:2px !important;
}

/* Six items in the navbar */
.ssc-navbar .ui-block-a{
    width:16.6% !important;
}

.ssc-navbar .ui-block-b{
    width:16.6% !important;
}

.ssc-grid-nav{
    display: block;
    text-align:center;
    border-top: 1px solid #c0c0c0;
    text-decoration: none;
    color: #555 !important;
    overflow: hidden;
    box-sizing: border-box;
}

.ssc-grid-nav:nth-child(odd){
    border-right: 1px solid #c0c0c0;
}

.ssc-grid-item-icon{
    display: block;
    font-size: 2em;
    padding-bottom: 0.5em;
}
